body{
	margin: 0;
	padding: 0;	
}

/*for tracking page*/
#logo {
	margin-top: -15px;
	height:50px;
	width: 200px;
}
.title {
	color: #48A431;
}

#submit {
	float: right;
}

.progress {
	height: 70px;
	width: 70px;
	border-radius: 50px; 
	background-color: white;
	border: 1px solid #48A431; 
	margin-top: 50px;
	display: inline-block;
}
.first {
	margin-left: 100px;
}

.steps {
	margin-left: 110px;
}

.ordered{
	margin-left: 148px; 
}

.fifth {
	margin-right: 100px;
}

.between {
	display: inline-block;
	margin-bottom: 52px;
	background-color: #48A431;
	height: 3px; 
	width: 120px; 
	border: 1px solid #48A431; 
}






