body{
	margin: 0;
	padding: 0;	
}

/*header */
.header{
	background-color: #222222;
	height: 50px;
}

.header-container{
	margin-top: 5px;
	background-color: #2F2F2F;
	height: 40px;
	width: 100%;
	padding-top: 10px;
	font-size: 15px;
}

.header-container a {
	color: #D8D8D8;
}

.tags{
	border-right: 1px solid #D8D8D8;
}

/*middle stuff*/
.error{
	margin-top: 10px; 
	color: red;	
}

.inputInfo{
	padding-right: 50px; 
	margin-right: 115px;
}

/*footer*/
.footer_container{
	width: 100%;
	height: 220px;
	background-color: #222222;
	margin-top: 400px;
}

.footer_container_portal{
	width: 100%;
	height: 220px;
	background-color: #222222;
	margin-top: 40px;
}

.title_block_name{
	font-family: "Helvetica";
	font-size: 14px;
}

.footer-content {
	/*line-height: 15px;*/
	/*font-size: 8px;*/
}

a{
	color: #9C9FA2;
}

a:hover{  
	color: #9C9FA2;
}

.title_block{
	margin-bottom: 4px;
}

.footer-context{
	padding-top: 15px;
	color: #9C9FA2;
}

.content_6 {
	margin-left: -160px;
	margin-top: 25px;
}

.content_6 a{
	text-decoration: underline;
}

.content_7{
	margin-left: -3px;
	margin-top: 5px;ste
}

/*for tracking page*/
#logo {
	margin-top: -15px;
	height:50px;
	width: 200px;
}
.trackerLogo {
	color: #48A431;
	float: right;
	margin-right: 20px; 
	font-size: 30px;
	margin-top: 7px; 
}
.title {
	color: #48A431;
}

#submit {
	margin-left: 300px; 
}

.caption_button {
	margin-left: 250px; 
}

/*progress page*/
.progress {
	height: 80px;
	width: 80px;
	border-radius: 50px; 
	background-color: white;
	border: 1px solid #48A431; 
	margin-top: 50px;
	display: inline-block;
}

.track {
	display: inline-block;
}

.steps {
	font-size: 12px; 
}

.between {
	display: inline-block;
	margin-bottom: 77px;
	background-color: #48A431;
	height: 3px; 
	width: 110px; 
	border: 1px solid #48A431; 
}

.allHover{
	height: 20px;
}

.DeliveryInfo{
	margin-left: 50px;
	margin-top: 5px;
	font-size: 14px; 
}

.images{
	margin-top: 18px; 
}

.tick{
	height: 25px;
	width: 25px;
	margin-top: 25px;
}

.hovering{
	margin-left: 50px; 
}

@media (max-width: 768px) {
	/*header*/
	.header-links {
		display: none;
	}
	.between {
		visibility: hidden;
	}
	.track{
		display: block;
		margin-top: -115px;
		margin-left: 0px; 
		padding: 0;
	}
	.progress {
		height: 70px;
		width: 70px;
		margin-bottom: -3px;
	}
	.images{
		height: 33px; 
	}
	.trackerLogo{
		visibility: hidden;
		font-size: 0px; 
	}
	.allHover {
		display: none;
	}
	/*footer stuff*/
	.footer_container, .footer_container_portal{
		display: none;
	}
}

@media (max-width: 1100px) and (min-width: 768px) {
	.between{
		width: 70px; 
		margin-bottom: 73px;
	}
	.progress{
		height: 75px;
		width: 75px;
	}
	.images{
		height: 35px; 
	}
	.tick{
		height: 22px; 
	}
	.trackerLogo{
		font-size: 25px;
		margin-top: 12px; 
	}
}

@media (max-width: 1000px) {
	/*header*/
	.header-links {
		display: none;
	}
	/*footer links*/
	.footer_container, .footer_container_portal{
		display: none;
	}
	.inputs{
		margin-left: 20px; 
	}
}










