body{
	margin: 0;
	padding: 0;	
}

/*for tracking page*/
#logo {
	margin-top: -15px;
	height:50px;
	width: 200px;
}
.title {
	color: #48A431;
}

#submit {
	margin-left: 300px; 
}

/*progress page*/
.progress {
	height: 80px;
	width: 80px;
	border-radius: 50px; 
	background-color: white;
	border: 1px solid #48A431; 
	margin-top: 50px;
	display: inline-block;
}

.track {
	display: inline-block;
}

.steps {
	font-size: 12px; 
}

.between {
	display: inline-block;
	margin-bottom: 77px;
	background-color: #48A431;
	height: 3px; 
	width: 120px; 
	border: 1px solid #48A431; 
}

.estDelivery {
	margin-left: 50px; 
}

.images{
	margin-top: 16px; 
}

@media (max-width: 768px) {
	.between {
		visibility: hidden;
	}
	.track{
		display: block;
		margin-top: -115px;
		margin-left: 0px; 
		padding: 0;
	}
	.progress {
		height: 70px;
		width: 70px;
		margin-bottom: -3px;
	}
}

@media (max-width: 1200px) and (min-width: 768px) {
	.between{
		width: 70px; 
	}
}










