<div ng-controller="homeCtrl">
  <!-- Navbar -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://www.groupon.co.za/">
          <img id="logo" alt="Brand" src="./groupon.png">
        </a>
        <span class="trackerLogo"> Groupon Tracker </span>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- user imput -> mobile number & waybill number -->
  <div class="col-md-6 col-md-offset-3">
    <br>  <br>  <br>  <br>
    <h2 class="title">Enter Waybill Number</h2>
    <form>
      <input type="text"  ng-model="waybill" placeholder="Waybill Number">
      <h2 class="title"> Enter Mobile Number</h2>
      <input type="text"  ng-model="user.mobile" placeholder="Mobile Number">
      <br> <br>          
      <button ng-click="trackOrder()" class="caption_button">Track Order</button> 
      <!-- <input id="submit" type="submit" ng-click="verify(user)" value="Submit"> -->
    </form>
  </div> 
</div>

