<div ng-controller="portalCtrl">
	<!-- navbar -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">

				<a class="navbar-brand" href="https://www.groupon.co.za/">
					<img id="logo" alt="Brand" src="./groupon.png">
				</a>
			</div>
			<span class="trackerLogo"> Groupon Tracker </span>
		</div><!-- /.container-fluid -->
   <!-- header links -->
   <div class="row header-links text-center">
    <div class="col-md-12 header-container">
      <div class="col-md-3 tags"> 
        <a href="https://www.groupon.co.za/"> HOME </a>
      </div>
      <div class="col-md-3 tags">
        <a href="https://www.groupon.co.za/browse/?context=local"> LOCAL </a>
      </div>
      <div class="col-md-3 tags">
        <a href="http://www.groupon.co.za/goods"> GOODS </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.groupon.co.za/getaways"> GETAWAYS </a>
      </div>
    </div>
  </div>
</nav>

	<!-- progress bar -->
	<br> <br> <br>
	<div class="text-center">

		<div class="track text-center trackOne">
			<div class="progress" ng-style="firstStyle" ng-mouseover="hover()" ng-mouseleave="hoverOver()">
				<img class="images" ng-show="orderImage" src="./images/ordered_image.png"/>
			</div>
			<div class="steps"> Payment Confirmed </div>	
		</div>
		<div class="between"></div>

		<div class="track text-center">
			<div class="progress" ng-style="secondStyle" ng-mouseover="processHover()" ng-mouseleave="processHoverOver()">
				<img class="images" ng-show="processImage" src="./images/processing.png"/>
			</div>
			<div class="steps text-center"> Processing Order </div>	
		</div>
		<div class="between"></div>

		<div class="track text-center">
			<div class="progress" ng-style="thirdStyle" ng-mouseover="prepHover()" ng-mouseleave="prepHoverOver()">
				<img class="images" ng-show="prepImage" src="./images/processing.png"/>
			</div>
			<div class="steps text-center"> Preparing to Ship </div>
		</div>
		<div class="between"></div>

		<div class="track text-center">
			<div class="progress" ng-style="fourthStyle" ng-mouseover="transitHover()" ng-mouseleave="transitHoverOver()">
				<img class="images" ng-show="transitImage" src="./images/transit.png"/>
			</div>
			<div class="steps text-center"> In Transit  </div>
		</div>
		<div class="between"></div>

		<div class="track text-center">
			<div class="progress" ng-style="sixthStyle" ng-mouseover="outHover()" ng-mouseleave="outHoverOver()">
				<img class="images" ng-show="outImage" src="./images/transit.png"/>
			</div>
			<div class="steps text-center"> Out for Delivery  </div>
		</div>
		<div class="between"></div>

		<div class="track text-center">
			<div class="progress" ng-style="fifthStyle" ng-mouseover="delHover()" ng-mouseleave="delHoverOver()">
				<img class="tick" ng-show="deliverImage" src="http://www.messianicjudaism.me/agenda/files/1206574733930851359Ryan_Taylor_Green_Tick.svg_.thumb_.jpg"/>
			</div>
			<div class="steps text-center"> Delivered </div>
		</div>
	</div>

	<!-- estimated delivery -->
	<br><br>
  <div class="DeliveryInfo" ng-show="dateEst"> <strong> Estimated delivery date: </strong> {{dateEst}} </div>
  <div class="DeliveryInfo"> <strong> Tracking Number: </strong> {{trackingNum}} </div>
  <div class="DeliveryInfo"> <strong> Time Stamp: </strong> {{currentTimeStamp}} </div>
  <div class="DeliveryInfo"> <strong>Courier company: </strong> {{courierDetail}} </div>
	<br>
	<div class="allHover">
  	<div class="hovering" ng-show="orderedText"> Order confirmed </div>
  	<div class="hovering" ng-show="processText" > Item in picking queue </div>
  	<div class="hovering" ng-show="prepText"> Item ready to be packed </div>
  	<div class="hovering" ng-show="transitText"> Item on its way to distribution center </div>
  	<div class="hovering" ng-show="outText"> Item dispatched with courier </div>
  	<div class="hovering" ng-show="deliverText"> 
      <p> Delivery Signed By {{signedBy}} </p>
    </div>
    <div class="hovering" ng-show="deliverSoonText"> Your package is on its way </div>

	</div>
  <!-- footer -->
  <div class="footer_container_portal">
    <div class="containerTwo">
      <div class="row footer-context">
        <section class="content_1 col-md-2 block text-center">
          <div class="title_block">
            <div class="title_block_name"> COMPANY </div>
          </div>
          <div class="footer-content">
            <div class="aboutGroupon"> <a href="https://www.groupon.co.za/about-us" style="font-size: 11px;">About&nbsp;Groupon</a></div>
            <div class="jobs"> <a id="ls-footer-jobs" href="http://www.grouponjobs.co.za/" data-bhw="FooterLinkJobs" data-bhw-path="FooterSitemap|FooterLinkJobs" style="font-size: 11px;">Jobs</a></div>
            <div class="blog"><a id="ls-footer-blog" href="http://grouponblog.co.za/" data-bhw="FooterLinkBlog" data-bhw-path="FooterSitemap|FooterLinkBlog" style="font-size: 11px;">Blog</a></div>
            <div class="press"> <a id="ls-footer-press" href="https://www.groupon.co.za/presse" data-bhw="FooterLinkPress" data-bhw-path="FooterSitemap|FooterLinkPress" style="font-size: 11px;">Press</a></div>
          </div>
        </section>
        <section class="content_2 col-md-2 block text-center">
          <div class="title_block">
            <div class="title_block_name"> WORK WITH GROUPON </div>
          </div>
          <div class="footer-content">
            <div class="runGrouponDeal"> <a id="ls-footer-deal" href="http://www.grouponworks.co.za/get-started/?utm_source=groupon.co.za_footer_links&amp;utm_medium=referral&amp;utm_campaign=ft_links" data-bhw="FooterLinkDeal" data-bhw-path="FooterSitemap|FooterLinkDeal" style="font-size: 11px;">Run a Groupon Deal</a> </div>
            <div class="affiliateProgram"> <a id="ls-footer-affiliates" href="https://partner-int.groupon.com/login" data-bhw="FooterLinkAffiliates" data-bhw-path="FooterSitemap|FooterLinkAffiliates" style="font-size: 11px;">Affiliate Program</a> </div>
          </div>
        </section>
        <section class="content_3 col-md-2 block text-center">
          <div class="title_block"> 
            <div class="title_block_name"> MORE </div>
          </div>
          <div class="footer-content">
            <div class="customerSupport"> <a id="ls-footer-customer_support" href="https://www.groupon.co.za/customer_support" data-bhw="FooterLinkCustomerSupport" style="font-size: 11px;" data-bhw-path="FooterSitemap|FooterLinkCustomerSupport">Customer Support</a> </div>
            <div class="faq"> <a id="ls-footer-faq" href="https://www.groupon.co.za/faq" style="font-size: 11px;" data-bhw="FooterLinkFaq" data-bhw-path="FooterSitemap|FooterLinkFaq">FAQ</a> </div>
          </div>
        </section>
        <section class="content_4 col-md-2 block text-center">
          <div class="title_block">
            <div class="title_block_name"> FOLLOW US </div>
          </div>
          <div class="footer-content">
            <p>
              <a href="https://twitter.com/groupon_za">
                <img src="https://www.grouponreturn.co.za/img/cms/twitter.jpg" width="30" height="30">
              </a>
              <a href="https://www.facebook.com/Groupon.za">
                <img src="https://www.grouponreturn.co.za/img/cms/facebook.jpg" width="30" height="30">
              </a>
            </p>
          </div>
        </section>
        <section class="content_5 col-md-4 block text-center">
          <div class="footer-content">
            <a href="https://www.groupon.co.za/mobile">
              <img src="https://www.grouponreturn.co.za/img/cms/Mobile.png" width="230" height="90">
            </a>
          </div>
        </section>
        <section class="content_6 col-md-8 block">
          <div class="title_block">
            <div class="title_block_name"> UNBEATABLE DEALS FOR LOCAL ADVENTURES </div>
          </div>
          <div class="footer-content">
            <p>
              <span style="font-size: 11px;">
                Groupon is an easy way to get huge discounts while discovering fun activities in your city. Our daily local deals consist of&nbsp;
              </span>
              <a id="ls-footer-restaurants-link" data-bhw="FooterGsmZALinkRestaurants" href="https://www.groupon.co.za/coupons/restaurants" data-bhw-path="FooterGSM|FooterGsmZALinkRestaurants" style="font-size: 11px;">restaurants</a>
              <span>,&nbsp;</span>
              <a id="ls-footer-spas-link" data-bhw="FooterGsmZALinkSpas" href="https://www.groupon.co.za/coupons/spa" data-bhw-path="FooterGSM|FooterGsmZALinkSpas" style="font-size: 11px;">spas</a>
              <span>,&nbsp;</span>
              <a id="ls-footer-hotels-link" data-bhw="FooterGsmZALinkHotels" href="https://www.groupon.co.za/getaways" data-bhw-path="FooterGSM|FooterGsmZALinkHotels" style="font-size: 11px;">hotels</a>
              <span>,&nbsp;</span>
              <a id="ls-footer-massages-link" data-bhw="FooterGsmZALinkMassages" href="https://www.groupon.co.za/coupons/massage" data-bhw-path="FooterGSM|FooterGsmZALinkMassages" style="font-size: 11px;">massages</a>
              <span>,&nbsp;</span>
                <a id="ls-footer-salons-link" data-bhw="FooterGsmZALinkSalons" href="https://www.groupon.co.za/coupons/salon" data-bhw-path="FooterGSM|FooterGsmZALinkSalons" style="font-size: 11px;">salons</a>
              </span>
              <span>,&nbsp;</span>
              <a id="ls-footer-activities-link" data-bhw="FooterGsmZALinkActivities" href="https://www.groupon.co.za/coupons/things-to-do" data-bhw-path="FooterGSM|FooterGsmZALinkActivities" style="font-size: 11px;">things to do</a>
              <span style="font-size: 11px;">, and a whole lot more, in hundreds of cities across the world.</span>
            </p>
          </div>
        </section>
        <section class="content_7 col-md-3 block text-center">
          <div class="footer-content">
            <p>
              <a href="http://www.grouponworks.co.za/?utm_source=groupon.co.za_footer_links&amp;utm_medium=referral&amp;utm_campaign=ft_links" target="_blank">
                <img src="https://www.grouponreturn.co.za/img/cms/Grow.png" alt="" width="230" height="90">
              </a>
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>










