<div ng-controller="portalCtrl">
	<!-- navbar -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="https://www.groupon.co.za/">
					<img id="logo" alt="Brand" src="./groupon.png">
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<!-- progress bar -->
	<br> <br> <br> <br>
	<div class="text-center">
		<div class="track text-center trackOne">
			<div class="progress" ng-style="firstStyle">
				<img class="images" src="./images/ordered_image.png"/>
			</div>
			<div class="steps"> Ordered </div>	
		</div>
		<div class="between"></div>
		<div class="track text-center">
			<div class="progress" ng-style="secondStyle">
				<img class="images" src="./images/processing.png"/>
			</div>
			<div class="steps text-center"> Processing Order</div>	
		</div>
		<div class="between"></div>
		<div class="track text-center">
			<div class="progress" ng-style="thirdStyle">
				<img class="images" src="./images/processing.png"/>
			</div>
			<div class="steps text-center"> Preparing to Ship</div>
		</div>
		<div class="between"></div>
		<div class="track text-center">
			<div class="progress" ng-style="fourthStyle">
				<img class="images" src="./images/transit.png"/>
			</div>
			<div class="steps text-center"> In Transit</div>
		</div>
		<div class="between"></div>
		<div class="track text-center">
			<div class="progress" ng-style="fifthStyle"></div>
			<div class="steps text-center"> Delivered</div>
		</div>
	</div>

	<!-- estimated delivery -->
	<br><br>
	<div class="estDelivery" ng-show="dateEst"> Estimated delivery date: {{dateEst}} </div>
</div>










